body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level {
    width: 500px;
    margin-top: 30px;
}

.btn {
    width: 150px;
    height: 50px;
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(90, 162, 195);
    transition: 0.5s;
}

.btn:hover {
    background-color: rgba(37, 79, 98, 0.7);
    transform: scale(1.1);
}

.btn a {
    text-decoration: none;
    color: white;
}
.play,
.rules {
    width: calc(30% - 300px); 
    padding: 10px;
    background-color: rgb(1, 103, 120);
    border-radius: 5px;
    margin: 0 15px;
}
/* hover */
.play:hover,
.rules:hover {
    background-color: rgba(19, 140, 196, 0.7);
    transform: scale(1.1);
}
.additional {
    margin-top: 35px;
    display: flex;
    justify-content: center; 
}

@media screen and (max-width: 1300px) {

   .play,.rules{
    font-size: 15px;
    width: calc(30% - 200px);
   }

}
@media screen and (max-width: 1100px) {

    .play,.rules{
     font-size: 15px;
     width: calc(30% - 100px);
    }
 
 }
 @media screen and (max-width: 705px) {

    .play,.rules{
     font-size: 15px;
     width: calc(30% - 70px);
    }
 
 }
.additional a {
    text-decoration: none;
    color: white;
}

